<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1012368758026-nemn4hta0ubhic9f9kkh9acrsdqgpa5t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1012368758026-nemn4hta0ubhic9f9kkh9acrsdqgpa5t</string>
	<key>API_KEY</key>
	<string>AIzaSyCrqGHNW10ak8hH_RLcmFCySULbfrjLasg</string>
	<key>GCM_SENDER_ID</key>
	<string>1012368758026</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pnotify.app</string>
	<key>PROJECT_ID</key>
	<string>fyp-bughti</string>
	<key>STORAGE_BUCKET</key>
	<string>fyp-bughti.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1012368758026:ios:88569047ca6063c7f8d6f3</string>
</dict>
</plist>